<div class="row">
  <h1><mat-icon>category</mat-icon> Liste des categories</h1>
</div>
<br>

<div class="row">
  <button mat-raised-button color="primary" style="background-color: green; color: white;" (click)="addLoisir()">
    <mat-icon>add</mat-icon> Create New Loisir
  </button>
</div>
<br><br>

<div class="row">
  <div class="search-box">
    <mat-form-field appearance="fill">
      <mat-label>Search</mat-label>
      <input matInput type="text" [(ngModel)]="searchText" placeholder="Search">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  </div>

  <table mat-table [dataSource]="crudApi.list" class="mat-elevation-z8">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>ID</th>
      <td mat-cell *matCellDef="let item">{{ item.id }}</td>
    </ng-container>

    <ng-container matColumnDef="nom">
      <th mat-header-cell *matHeaderCellDef>Label</th>
      <td mat-cell *matCellDef="let item">{{ item.nom }}</td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef>Action</th>
      <td mat-cell *matCellDef="let item">
        <button mat-icon-button color="warn" style="background-color: green; color: white;" (click)="selectData(item)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" style="background-color: green; color: white;" (click)="deleteCategory(item.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="['id', 'nom', 'action']"></tr>
    <tr mat-row *matRowDef="let row; columns: ['id', 'nom', 'action']"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[2, 5, 10]" showFirstLastButtons></mat-paginator>
</div>

