<mat-card class="login-card">
  <mat-card-header>
    <mat-card-title>Login</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput type="email">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput type="password">
      <br>
    </mat-form-field>
    <br>
    <button mat-raised-button color="primary">Login</button>
  </mat-card-content>

  <mat-divider>
  </mat-divider>

  <mat-card-actions>
    <a mat-button routerLink="/forgot-password">Forgot password?</a>
    <span class="fill-remaining-space"></span>
    <a mat-button routerLink="/register">Create account</a>
  </mat-card-actions>
</mat-card>
